<h1>employee</h1>
<button (click)="signOut()">Sign out</button>
<h1>A list of your current projects</h1>
<div *ngFor="let proj of projects" class="card">
  <div class="card-body">
    <h4 class="card-title">Name: {{proj.name}}</h4>
    <h5 class="card-title">Status: {{proj.status}}</h5>
    <h5 class="card-title">Completed at {{proj.percentCompletion | number: "1.0-0"}}%</h5>
    <h5 class="card-title">Client email: {{proj.clientEmail}}</h5>
    <h5 class="card-title">Start time: {{proj.startTime | date: "medium":"UTC" }}</h5>
    <h5 class="card-title">Deadline: {{proj.endTime | date: "medium":"UTC" }}</h5>
    <button class="btn btn-primary" type="button" (click)="toogle(proj.showTasks)"
            *ngIf="proj.showTasks.val">
      Show tasks
    </button>
    <div *ngIf="error != undefined" class="alert alert-danger">
      {{error.error}}
    </div>
    <view-tasks [projectName]="proj.name" [(seeTasks)]="proj.showTasks"
                *ngIf="!proj.showTasks.val"></view-tasks>


  </div>
</div>
<!--<table>
  <tr>
    <th>Project name</th>
    <th>Project status</th>
    <th>Start of the project</th>
    <th>Deadline of the project</th>
    <th>Description</th>
    <th>Email of the client</th>
    <th>Percent of completion</th>
  </tr>
    <tr *ngFor="let proj of projects">
      <td>{{proj.name}}</td>
      <td>{{proj.status}}</td>
      <td>{{proj.startTime | date: "medium":"UTC" }}</td>
      <td>{{proj.endTime | date: "medium":"UTC"}}</td>
      <td>{{proj.description}}</td>
      <td>{{proj.clientEmail}}</td>
      <td>{{proj.percentCompletion | number: '1.0-0'}}</td>
      <td><button (click)="toogle(proj.showTasks)" *ngIf="proj.showTasks.val">Show tasks</button></td>
      <view-tasks [projectName]="proj.name" [(seeTasks)]="proj.showTasks"
                  *ngIf="!proj.showTasks.val"></view-tasks>
    </tr>
</table>
<div *ngIf="error != undefined" class="alert alert-danger">
  {{error.error}}
</div>-->
