/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}


html {
    scroll-behavior: smooth;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
}

.flexWrapper div {
    padding: 5px 0;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.employeeGridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.managerGridWrapper {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

@media only screen and (max-width: 768px) {
    .gridWrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .employeeGridWrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
    }

  .managerGridWrapper {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1249px) and (min-width: 769px) {
  .employeeGridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 150px 0px;
}

#homePage {
  display: flex;
  align-self: center;
  justify-content: center;
}
