<form [formGroup]="myForm" novalidate (ngSubmit)="addNewTask()">
  <div class="form-group">
    <label>Task name</label>
    <input class="form-control" name="name" formControlName="name" />
    <div class="alert alert-danger"
         *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">
      Enter task's name
    </div>
  </div>
  <div class="form-group">
    <input name="projEndTime" formControlName="projEndTime" type="hidden" value="{{projEndTime}}"/>
  </div>
  <div class="form-group">
    <label>Deadline</label>
    <input class="form-control" pattern="^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d$"
           name="endTime" formControlName="endTime" placeholder="MM/DD/YYYY" />
    <div class="alert alert-danger"
         *ngIf="myForm.controls['endTime'].invalid && myForm.controls['endTime'].touched">
      Enter correct deadline of the task
    </div>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" name="description" formControlName="description" />
  </div>

  <div class="form-group">
    <button class="btn-primary" [disabled]="myForm.invalid || MyForm.endTime.errors">
      Submit
    </button>
  </div>
</form>
<div *ngIf="error != undefined" class="alert alert-danger">
  {{error.error}}
</div>
<button (click)="closeForm({val: true})">Close</button>
