<select [(ngModel)]="selectedRole" class="form-control">
  <option *ngFor ="let role of this.Roles" [value]="role">
    {{role}}
  </option>
</select>

<div class="flexWrapper">
  <div>
    <button (click)="changeUsersRole()" type="button" class="btn btn-success w-100">
      Submit
    </button>
    <p class="alert alert-success" role="alert" *ngIf="this.msg != undefined">
      {{this.msg}}
    </p>
  </div>
  <div>
    <button (click)="closeForm({val: true})" class="btn-secondary btn w-100">
      Hide
    </button>
    <div class="alert alert-danger" *ngIf="error != undefined">
      {{error.error}}
    </div>
  </div>
</div>
