<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" formControlName="name" />

    <div class="alert alert-danger"
         *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">
      Enter your name
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" formControlName="email" />

    <div class="alert alert-danger"
         *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
      Incorrect email
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input class="form-control" name="password" formControlName="password" />
    <div class="alert alert-danger"
         *ngIf="myForm.controls['password'].invalid && myForm.controls['password'].touched">
      Enter the password
    </div>
  </div>
  <div class="form-group">
    <label>Confirm password</label>
    <input class="form-control" name="confirmPassword" formControlName="confirmPassword" />
    <div class="alert alert-danger"
         *ngIf="myForm.controls['confirmPassword'].invalid
           && myForm.controls['confirmPassword'].touched
           || (myForm.controls['confirmPassword'].value !=
           myForm.controls['password'].value)">
      Password's does not match
    </div>
  </div>
  <div class="form-group">
    <button class="btn-primary" [disabled]="myForm.controls['confirmPassword'].invalid ||
            myForm.controls['password'].invalid || myForm.controls['name'].invalid
            || myForm.controls['email'].invalid || myForm.controls['password'].value !==
            myForm.controls['confirmPassword'].value">
      Register
    </button>
  </div>
  <div>
    <h2>Do you have already an account?</h2>
    <button class="btn-primary"><a style="color: white;" routerLink="/">Login</a></button>
  </div>
</form>
