<div *ngFor="let proj of projects" class="card offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
  <div class="card-body">
    <h4 class="card-title">Name: {{proj.name}}</h4>
    <h5 class="card-title">Status: {{proj.status}}</h5>
    <h5 class="card-title">Completed at {{proj.percentCompletion}}%</h5>
    <h5 class="card-title">Client email: {{proj.clientEmail}}</h5>
    <h5 class="card-title">Start time: {{proj.startTime | date: "medium":"UTC" }}</h5>
    <h5 class="card-title">Deadline: {{proj.endTime | date: "medium":"UTC" }}</h5>
    <div class="flexWrapper">
      <div class="flexWrapper">
        <button class="btn btn-primary w-100" type="button" (click)="toogle(proj.addTask)"
                *ngIf="proj.addTask.val && proj.status !== 'Completed'">
          Add new task
        </button>
        <add-task *ngIf="!proj.addTask.val" [projEndTime]="proj.endTime"
          [projName]="proj.name" [(addTask)]="proj.addTask"></add-task>
      </div>
      <div class="flexWrapper">
        <button class="btn btn-info w-100" type="button" (click)="toogle(proj.showTasks)"
                *ngIf="proj.showTasks.val">
          Show tasks
        </button>
        <view-tasks [projectName]="proj.name" [(seeTasks)]="proj.showTasks"
          *ngIf="!proj.showTasks.val"></view-tasks>
      </div>
      <br />
      <div class="flexWrapper">
        <button class="btn-primary btn w-100" type="button" (click)="toogle(proj.editProject)"
                *ngIf="proj.editProject.val && proj.status !== 'Completed'">
          Edit project
        </button>
        <edit-project *ngIf="!proj.editProject.val" [(editProject)]="proj.editProject.val"
          [name]="proj.name" [description]="proj.description"
          [endTime]="proj.endTime" [clientEmail]="proj.clientEmail"></edit-project>
      </div>
      <div class="flexWrapper">
        <button type="button" class="btn btn-danger w-100" (click)="delete(proj.name)"
                *ngIf="proj.status !== 'Completed'">
          Delete project
        </button>
      </div>
    </div>
    <div *ngIf="error != undefined" class="alert alert-danger">
      {{error.error}}
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary w-100 offset-sm-1 col-sm-10 offset-md-2
  col-md-8 offset-lg-3 col-lg-6" *ngIf="addProject" (click)="addNewProject()">
  Add project
</button>

<add-project [(addProject)]="addProject" *ngIf="!addProject"></add-project>
