<table>
  <tr>
    <th>Task's name</th>
    <th>Status</th>
    <th>Start time</th>
    <th>Deadline</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let task of tasks">
    <td>{{task.taskName}}</td>
    <td>{{task.status}}</td>
    <td>{{task.startTime | date: "medium":"UTC" }}</td>
    <td>{{task.endTime | date: "medium":"UTC" }}</td>
    <td>{{task.description}}</td>
    <!--<td *ngIf="this.Role !== 'Employee'">
    <button (click)="edit(task.taskName, task.projName, task.description,
        task.status, task.startTime, task.endTime)">Edit
    </button>
    </td>-->
    <td *ngIf="this.Role === 'Employee' && task.status !== 'Completed'">
      <button (click)="edit(task.taskName, task.projName, task.description,
        'Completed', task.startTime, task.endTime)">
        Change status to "Completed"
      </button>
    </td>
    <td *ngIf="this.Role !== 'Employee'">
      <button (click)="delete(task.taskName, task.projName, task.description,
        task.status, task.startTime, task.endTime)">Delete</button>
    </td>
  </tr>
</table>
<button (click)="closeForm({ val: true })">Hide</button>
