<div>
  <select [(ngModel)]="selectedProject" class="form-control">
    <option *ngFor="let proj of projects" [value]="proj.name">{{proj.name}}</option>
  </select>
</div>
<div>
  <button (click)="addUserToProject()" type="button"
    class="btn btn-success w-100">Add to project
  </button>
</div>
<div>
  <button (click)="closeForm({val: true})" type="button"
    class="btn btn-secondary w-100">
    Hide
  </button>
</div>
<div *ngIf="this.msg != undefined" class="alert alert-success w-100" role="alert">
  {{this.msg}}
</div>
<div *ngIf="error != undefined" class="alert alert-danger w-100">
  {{error.error}}
</div>
