<div>
  <h1>
    ADNMIN PAGE
  </h1>
  <div class="row">
    <div class="flex-column">
      <div class="btn-group" role="group">
        <button type="button" class="btn-primary btn" (click)="showProjectsList()">
          Projects
        </button>
        <button type="button" class="btn-primary btn" (click)="showUsersList()">
          Users
        </button>
        <button type="button" class="btn-primary btn" (click)="signOut()">
          Sign out
        </button>
      </div>
    </div>
    <div class="col-ms-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
