<p>all-users works!</p>
<h1>Admins</h1>
<div *ngFor="let admin of admins">
  <p>{{admin.email}} | {{admin.name}}</p>
</div>
<h1>Managers</h1>
<div *ngFor="let manager of managers">
  <p>{{manager.email}} | {{manager.name}}</p>
</div>
<h1>Employees</h1>
<div *ngFor="let employee of employees">
  <p>{{employee.email}} | {{employee.name}}</p>
  <button *ngIf="employee.viewProjects.val" (click)="toogle(employee.viewProjects)">
    See projects</button>
  <button *ngIf="employee.addToProject.val" (click)="toogle(employee.addToProject)">
    Add to project
  </button>
  <add-user-to-project [(addToProject)]="employee.addToProject"
    *ngIf="!employee.addToProject.val"></add-user-to-project>
  <view-projects-of-user *ngIf="!employee.viewProjects.val"
    [(viewProjects)]="employee.viewProjects"> 
  </view-projects-of-user>
</div>
